/target
/classes
/checkouts
/resources
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/examples/todomvc/.cljs_rhino_repl
/examples/todomvc/.nrepl-port
/examples/todomvc/.rebel_readline_history
/examples/todomvc/figwheel_server.log
/examples/todomvc/resources/public/js
/examples/todomvc/target
