/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

/examples/todomvc/pom.xml
/examples/todomvc/*jar
/examples/todomvc/lib/
/examples/todomvc/classes/
/examples/todomvc/out/
/examples/todomvc/target/
/examples/todomvc/.lein-deps-sum
/examples/todomvc/.lein-repl-history
/examples/todomvc/.lein-plugins/
/examples/todomvc/.repl
/examples/todomvc/.nrepl-port
/examples/todomvc/.cpcache/
/examples/todomvc/.rebel_readline_history
/examples/todomvc/resources/public/cljs-out/
/examples/todomvc/resources/public/js/
/examples/todomvc/.cljs_rhino_repl/
/examples/todomvc/figwheel_server.log
